<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./static/registarion.css">
</head>
<body class="bg-gray-50">
<div class="container">
    <%-include('./partials/header')%>
    <div class="main">
        <div class="registration-card">
            
            <div class="alert-wrap">
                
            </div>
            <div class="flex items-center justify-center bg-gray-50 px-4 sm:px-6 lg:px-8">
                <div class="max-w-md w-full space-y-8">
                    <form class="registration-form shadow mt-8 space-y-6" action="/registration" method="POST">
                        <div class="text-form">
                            <center><h3>Registration</h3></center>
                        </div>
                        <div class="wrap__for-mail-verifications">
                            
                        </div>
                        <div class="inputs rounded-md shadow-sm -space-y-px">
                            <div>
                                <label for="username" class="sr-only">Username</label>
                                <input id="username" name="username" type="text" autocomplete="username" required class="my-2 appearance-none rounded-none relative block w-full px-3 py-4 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Username">
                            </div>
                            <div>
                                <label for="mail" class="sr-only">Mail</label>
                                <input id="mail" name="mail" type="mail" autocomplete="current-mmail" required class="my-2 appearance-none rounded-none relative block w-full px-3 py-4 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Mail address">
                            </div>
                            <div>
                                <label for="password" class="sr-only">Password</label>
                                <input id="password" name="password" type="password" autocomplete="current-password" required class="my-2 appearance-none rounded-none relative block w-full px-3 py-4 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password">
                            </div>
                        </div>
        
                        <div class="button-register">
                            <button type="submit" class="group relative w-full flex justify-center py-3 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Register
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%-include('./partials/footer')%>
</div>

    <script>
        $('.registration-form').submit((e) => {
            e.preventDefault()
            let form = $('.registration-form')
            $.ajax({
                url: '/registration',
                method: 'post',
                data: form.serialize(),
                success: res => {
                    if(res.token){
                        localStorage.setItem('token', res.token)
                    }
                    if(res.message){
                        $('.wrap__alert-line').hide()
                        $('.alert-inner').hide()

                        $('.alert-wrap').append(`
                        <div class="wrap__alert-line">
                            <div class="alert-line" style="background-color: ${res.lineColor};"></div>
                        </div>
                        <div class="alert-inner">
                            <div class="alert" style="background-color: ${res.color};">
                                <div class="message">
                                    <p>${res.message}</p>
                                    <div class="wrap__close-alert">
                                        <a class="a__close-alert">
                                            <svg viewBox="0 0 24 24" class="close-alert" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path opacity="0.4" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="#ffffff"></path> <path d="M13.0594 12.0001L15.3594 9.70011C15.6494 9.41011 15.6494 8.93011 15.3594 8.64011C15.0694 8.35011 14.5894 8.35011 14.2994 8.64011L11.9994 10.9401L9.69937 8.64011C9.40937 8.35011 8.92937 8.35011 8.63938 8.64011C8.34938 8.93011 8.34938 9.41011 8.63938 9.70011L10.9394 12.0001L8.63938 14.3001C8.34938 14.5901 8.34938 15.0701 8.63938 15.3601C8.78938 15.5101 8.97937 15.5801 9.16937 15.5801C9.35937 15.5801 9.54937 15.5101 9.69937 15.3601L11.9994 13.0601L14.2994 15.3601C14.4494 15.5101 14.6394 15.5801 14.8294 15.5801C15.0194 15.5801 15.2094 15.5101 15.3594 15.3601C15.6494 15.0701 15.6494 14.5901 15.3594 14.3001L13.0594 12.0001Z" fill="#ffffff"></path> </g></svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `)
                    }else{
                        $('.inputs').hide()
                        $('.button-register').hide()
                        $('.wrap__for-mail-verifications').append(`
                            <div class="code-verifications">
                                <form action="/verification-email" method="post" class="form-verificate-email">
                                    <div class="inputs__verifications-code" style="display: flex; justify-content: center; gap: 10px;">
                                        <input type="text" class="verification-input" style="padding: 12px; width: 40px; border: 1px solid gray; box-shadow: 1.5px 1px 0px rgb(172, 172, 172); outline: none;" name="first" maxlength="1" required>
                                        <input type="text" class="verification-input" style="padding: 12px; width: 40px; border: 1px solid gray; box-shadow: 1.5px 1px 0px rgb(172, 172, 172); outline: none;" name="second" maxlength="1" required>
                                        <input type="text" class="verification-input" style="padding: 12px; width: 40px; border: 1px solid gray; box-shadow: 1.5px 1px 0px rgb(172, 172, 172); outline: none;" name="third" maxlength="1" required>
                                        <input type="text" class="verification-input" style="padding: 12px; width: 40px; border: 1px solid gray; box-shadow: 1.5px 1px 0px rgb(172, 172, 172); outline: none;" name="fourth" maxlength="1" required>
                                    </div>
                                    <button type="submit" class="btn-verificate group relative w-full flex justify-center py-3 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-emerald-500 hover:bg-emerald-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                        Verificate
                                    </button>
                                </form>
                            </div>
                    `)
                    const inputs = document.querySelectorAll('.verification-input');
                    inputs.forEach((input, index) => {
                        input.addEventListener('input', (e) => {
                        if (e.target.value && index < inputs.length - 1) {
                            inputs[index + 1].focus();
                        }
                        });

                        input.addEventListener('keydown', (e) => {
                            if (e.key === 'Backspace' || e.key === 'Delete') {
                            e.preventDefault();
                            if (index > -1) {
                                if(index === inputs.length - 1){
                                    inputs[inputs.length - 1].value = null
                                }

                                inputs[index].value = null

                                inputs[index - 1].focus();
                            }
                            }
                        });
                    })

                    // Обработчик отправки формы
                    document.getElementById('verificationForm').addEventListener('submit', (e) => {
                        e.preventDefault();
                        const verificationCode = inputs.map(input => input.value).join('');
                        // Здесь вы можете отправить verificationCode на сервер для проверки
                    });
                    }

                    
                    //   OTHER
                    $('.a__close-alert').on('click', (e) => {
                        $('.wrap__alert-line').hide()
                        $('.alert-inner').hide()
                    })

                    $('.form-verificate-email').submit(e => {
                        e.preventDefault()
                        const form = $('.form-verificate-email')
                        console.log('adasd')
                        $.ajax({
                            url: '/verification-email',
                            method: 'post',
                            headers: {
                                'Authorization': `Bearer ${localStorage.token}`
                            },
                            data: form.serialize(),
                            
                            success: res => {
                                console.log(res)
                                 if(res.message){
                                    $('.wrap__alert-line').hide()
                                    $('.alert-inner').hide()
                                    
                                    $('.alert-wrap').append(`
                                    <div class="wrap__alert-line">
                                        <div class="alert-line" style="background-color: ${res.lineColor};"></div>
                                    </div>
                                    <div class="alert-inner">
                                        <div class="alert" style="background-color: ${res.color};">
                                            <div class="message">
                                                <p>${res.message}</p>
                                                <div class="wrap__close-alert">
                                                    <a class="a__close-alert">
                                                        <svg viewBox="0 0 24 24" class="close-alert" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path opacity="0.4" d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="#ffffff"></path> <path d="M13.0594 12.0001L15.3594 9.70011C15.6494 9.41011 15.6494 8.93011 15.3594 8.64011C15.0694 8.35011 14.5894 8.35011 14.2994 8.64011L11.9994 10.9401L9.69937 8.64011C9.40937 8.35011 8.92937 8.35011 8.63938 8.64011C8.34938 8.93011 8.34938 9.41011 8.63938 9.70011L10.9394 12.0001L8.63938 14.3001C8.34938 14.5901 8.34938 15.0701 8.63938 15.3601C8.78938 15.5101 8.97937 15.5801 9.16937 15.5801C9.35937 15.5801 9.54937 15.5101 9.69937 15.3601L11.9994 13.0601L14.2994 15.3601C14.4494 15.5101 14.6394 15.5801 14.8294 15.5801C15.0194 15.5801 15.2094 15.5101 15.3594 15.3601C15.6494 15.0701 15.6494 14.5901 15.3594 14.3001L13.0594 12.0001Z" fill="#ffffff"></path> </g></svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                `)
                                $('.a__close-alert').on('click', (e) => {
                                    $('.wrap__alert-line').hide()
                                    $('.alert-inner').hide()
                                })
            
                                }
                            }
                        })
                    })
                },
                error: e => {
                    console.log(e)
                }
            })
        })
        console.log(localStorage)
    </script>
</body>
</html>